// blog
.blog {
   padding-top: 105px;
}
.blog-title {
   margin-bottom: 55px;
}
.blog-card-title {
   margin-bottom: 16px;
}
.blog-card-overtext {
   font-size: 20px;
   line-height: 29 / 20 * 100%;
   margin-bottom: 15px;
}
.blog-card-overtext-span {
   margin: 0 20px;
}
.blog-card-overtext-style {
   color: #8695a4;
}
.blog-line {
   margin: 30px 0;
}
.blog-line:last-child {
   margin-bottom: 0;
}
