// fonts
@font-face
   font-family: 'PragmaticaRegular'
   src: url('../fonts/Pragmatica Regular.eot')
   src: local('☺'), url('../fonts/Pragmatica Regular.woff') format('woff'), url('../fonts/Pragmatica Regular.ttf') format('truetype')
   font-weight: normal
   font-style: normal
@font-face
   font-family: 'PragmaticaBold'
   src: url('../fonts/Pragmatica Bold.eot')
   src: local('☺'), url('../fonts/Pragmatica Bold.woff') format('woff'), url('../fonts/Pragmatica Bold.ttf') format('truetype')
   font-weight: normal
   font-style: normal
body
   font-family: 'PragmaticaRegular'
   font-size: 14px
   color: #1F1F1F
   font-weight: 400
button
   border: 0
   background: 0
// container
.container
   width: 100%
   max-width: 1110px
   margin: 0 auto
   padding: 0 15px
// header
.header
   background: #fff
   padding: 18px 0 46px
   &-top
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-items: center

   &-logo-link
      display: inline-block
   &-location
      display: flex
      align-items: center
   &-location-icon

   &-location-descr
      font-size: 16px
      color: #3F3F3F
      line-height: 20px
      margin-left: 18px
   &-location-descr span
      font-size: 10px
      text-transform: uppercase
      color: #BDBDBD
   &-social
      display: flex
      align-items: center
   &-social-icon
      margin-right: 10px
   &-social-icon:last-child
      margin-right: 0
   &-tel
      line-height: 20px
   &-tel span
      color: #BDBDBD
      font-size: 12px
   &-tel-link
      color: #3F3F3F
      text-decoration: none
      text-transform: uppercase
   &-button
      display: inline-block
      text-decoration: none
      background: #508FF7
      border-radius: 4px
      transition: all .4s linear
      padding: 16px 19px
   &-button:hover
      background: #1556be
   &-btn
      background: url(../images/header-tel.svg) no-repeat
      color: #fff
      padding-left: 25px
   &-menu
      margin-top: 36px
   &-menu-list
      display: flex
   &-menu-item
      margin-right: 30px
   &-menu-item:last-child
      margin-right: 0
   &-menu-link
      color: #4E4E4E
      text-decoration: none
      transition: all .4s linear
   &-menu-link:hover
      color: #5c1a1a
   &-content
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 57px
   &-content-overtitle
      font-size: 18px
      text-transform: uppercase
      color: #A2A9B5
      margin-bottom: 14px
   &-content-title
      font-size: 38px
      color: #1F1F1F
      line-height: 120%
      margin-bottom: 18px
   &-content-descr
      font-size: 18px
      color: #A2A9B5
      line-height: 150%
      margin-bottom: 40px
   &-content-button
      display: inline-block
      text-align-last: left
      background: #508FF7
      padding: 28px 38px
      transition: all .4s linear
      border-radius: 10px
   &-content-button:hover
      background: #1556be
   &-content-btn
      background: url(../images/training.svg) no-repeat
      font-size: 13px
      text-transform: uppercase
      color: #FFFFFF
      line-height: 140%
      padding-left: 55px
   &-content-text
      font-size: 13px
      line-height: 160%
      color: #969FAD
      padding-left: 230px
      margin-top: 60px
   &-content-second-button
      display: inline-block
      text-align-last: left
      background: rgba(255, 72, 63, 0.7)
      backdrop-filter: blur(7px)
      border-radius: 16px
      transition: all .4s linear
      padding: 28px 38px
      margin-left: 100px
      margin-top: 85px
   &-content-second-button:hover
      background: #be3636
   &-content-second-btn
      background: url(../images/header-play.svg) no-repeat
      font-size: 15px
      line-height: 150%
      color: #FFFFFF
      padding-left: 60px
// advantages
.advantages
   padding-bottom: 80px
   &-cards
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-column-gap: 30px
   &-card-title
      font-size: 13px
      text-transform: uppercase
      color: #1F1F1F
      margin: 16px 0 8px
   &-card-descr
      color: #A2A9B5
      line-height: 140%
// cost
.cost
   padding-bottom: 80px
   &-wrapper
   &-title
      font-size: 32px
      text-align: center
      color: #1F1F1F
      margin-bottom: 60px
   &-items
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-column-gap: 9px
   &-item
      background: #FFFFFF
      border: 2px solid #508FF7
      box-sizing: border-box
      border-radius: 12px
      padding: 22px 72px 22px 16px
   &-item-overtitle
      font-size: 10px
      text-transform: uppercase
      color: #A2A9B5
      margin-bottom: 8px
   &-item-title
      color: #1F1F1F
      font-size: 16px
   &-wrap
      display: flex
      align-items: center
   &-info-overtitle
      font-size: 14px
      text-transform: uppercase
      color: #A2A9B5
      margin-bottom: 12px
   &-info-title
      font-size: 22px
      color: #1F1F1F
      margin-bottom: 20px
   &-info-items
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-column-gap: 6px
      margin-bottom: 25px
   &-info-item
      display: flex
      align-items: flex-end
   &-info-item-price
      font-size: 10px
      // line-height: 280%
      color: #A2A9B5
   &-info-item-price p
      padding-bottom: 8px
   &-info-item-price span
      color: #1F1F1F
      font-size: 22px
      margin-right: 20px
   &-info-item-descr
      font-size: 14px
      line-height: 140%
      color: #1F1F1F
   &-info-return
      display: flex
      align-items: center
      margin-bottom: 30px
   &-info-possibility
      color: #1F1F1F
      line-height: 140%
   &-info-possibility span
      font-weight: 700
   &-info-detailed
      margin-left: 60px
   &-info-detailed-btn
      color: #87929F
      text-decoration: none
      background: #EFF3F8
      border-radius: 8px
      padding: 14px
      transition: all .4s linear
   &-info-detailed-btn:hover
      color: #fff
      background: #6b8cb4
   &-info-price
      font-size: 18px
      font-weight: 700
      color: #1F1F1F
      margin-bottom: 16px
   &-info-list
      margin-bottom: 30px
   &-info-list-item
      background: url(../images/info-gal.png) no-repeat
      padding-left: 20px
      margin-bottom: 20px
   &-info-list-item:last-child
      margin-bottom: 0
   &-info-sign
      display: flex
      align-items: center
   &-info-sign-btn
      color: #fff
      font-size: 13px
      text-transform: uppercase
      background: #508FF7
      border-radius: 10px
      padding: 24px 38px
      transition: all .4s linear
      margin-right: 26px
   &-info-sign-btn:hover
      background: #1f54a8
   &-info-sign-tel
      line-height: 200%
   &-info-sign-tel span
      font-size: 10px
      text-transform: uppercase
      color: #A2A9B5
      line-height: 100%
   &-info-sign-tel-link
      color: #1F1F1F
      font-size: 18px
      font-weight: 700
      text-decoration: none
// priority
.priority
   padding: 100px 0
   text-align: center
   &-title
      font-size: 32px
      margin-bottom: 100px
   &-title span
      font-weight: 700
   &-cards
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-column-gap: 130px
      align-items: baseline
   &-card:nth-child(1),
   &-card:nth-child(2),
   &-card:nth-child(3)
      margin-bottom: 40px
   &-card-title
      font-size: 18px
      font-weight: 600
      text-transform: uppercase
      margin: 20px 0
   &-card-descr
      line-height: 140%
.priority-discounts
   background: linear-gradient(96.47deg, #508FF7 -0.93%, #4C89ED 100.93%)
   border-radius: 50px
   padding-left: 45px
   display: flex
   justify-content: space-between
   align-items: center
   margin-top: 135px
   &-info
      text-align: left
   &-text
      font-size: 28px
      line-height: 140%
      color: #FFFFFF
      margin-bottom: 30px
   &-btn
      font-size: 13px
      line-height: 100%
      text-transform: uppercase
      color: #4F8CF2
      background: #FFFFFF
      border: 2px solid transparent
      transition: all .4s linear
      border-radius: 10px
      padding: 18px 32px
   &-btn:hover
      background: 0
      border: 2px solid #fff
      color: #fff
// training
.training
   padding: 80px 0
   text-align: center

.training-title
   font-size: 32px
   margin-bottom: 98px

.training-items
   display: grid
   grid-template-columns: repeat(3, 1fr)
   grid-column-gap: 105px
.training-item
   &-title
      font-size: 16px
      margin: 26px 12px
   &-descr
      line-height: 140%
.training-descr
   width: 100%
   max-width: 668px
   margin: 0 auto
   text-align: left
   line-height: 140%
   margin-top: 100px
// organized
.organized
   padding: 80px

.organized-title
   font-size: 32px
   text-align: center
   margin-bottom: 115px

.organized-items
   display: grid
   grid-template-columns: repeat(4, 1fr)
   grid-column-gap: 55px

.organized-item:nth-child(1),
.organized-item:nth-child(2),
.organized-item:nth-child(3),
.organized-item:nth-child(4),
.organized-item:nth-child(6),
.organized-item:nth-child(7),
.organized-item:nth-child(8)
   margin-bottom: 68px
.organized-item-title
   color: #A5A5A5
   font-size: 32px
   font-weight: 700
   margin-bottom: 16px
.organized-item-title span
   font-size: 12px
   margin-left: 5px
.organized-item-descr
   line-height: 140%
// license
.license
   padding: 80px 0
.license-title
   font-size: 32px
   text-align: center
   margin-bottom: 60px
.license-items
   display: grid
   grid-template-columns: repeat(6, 1fr)
   grid-column-gap: 30px
.license-item
   position: relative
   overflow: hidden
   margin: 0 1px 1px 0
   padding: 69.18% 0
.license-item-icon
   position: absolute
   top: 0
   left: 0
   width: 100%
   height: 100%
   -o-object-fit: cover
   object-fit: cover
.license-item-hover-title
   color: #fff
   margin-top: 10px
.license-item-hover
   position: absolute
   top: 0
   left: 0
   display: -webkit-box
   display: -ms-flexbox
   display: flex
   -webkit-box-orient: vertical
   -webkit-box-direction: normal
   -ms-flex-direction: column
   flex-direction: column
   width: 100%
   height: 100%
   -webkit-transition: background-color .4s
   -o-transition: background-color .4s
   transition: background-color .4s
   opacity: 0
   -webkit-box-align: center
   -ms-flex-align: center
   align-items: center
   -webkit-box-pack: center
   -ms-flex-pack: center
   justify-content: center
   cursor: pointer
.license-item:hover img
   -webkit-transition: -webkit-transform .6s
   transition: -webkit-transform .6s
   -o-transition: transform .6s
   transition: transform .6s
   transition: transform .6s, -webkit-transform .6s
   -webkit-transform: scale(1.2)
   -ms-transform: scale(1.2)
   transform: scale(1.2)

.license-item:hover .license-item-hover
   -webkit-transition: background-color .4s
   -o-transition: background-color .4s
   transition: background-color .4s
   opacity: 1
   background: #508FF7
   opacity: 0.7
   border-radius: 5px

.license-scammers
   display: flex
   justify-content: space-between
   background: linear-gradient(96.47deg, #EE6D70 -0.93%, #D35E61 100.93%)
   border-radius: 50px
   padding: 70px 14px 0 60px
   margin-top: 170px
   &-title
      color: #fff
      font-size: 28px
      margin-bottom: 20px
   &-descr
      color: #fff
      font-size: 18px
      line-height: 140%
// questions
.questions
   padding-bottom: 60px
.questions-wrapper
   width: 100%
   max-width: 668px
   margin: 0 auto
.questions-title
   font-size: 32px
   text-align: center
   margin-bottom: 100px
.questions-title span
   font-weight: 700
.questions-bg
   background: #FFFFFF
   border-radius: 20px
   box-shadow: 0px 0px 10px 6px #e9e7e7
.questions-info
   padding: 60px 10px 60px 35px
.questions-time
   margin-bottom: 10px
   &-title
      color: #3F3F3F
      font-size: 18px
      font-weight: 700
      margin-bottom: 20px
   &-descr
      color: #979797
      font-size: 16px
.questions-documents
   margin-bottom: 10px
   &-title
      color: #3F3F3F
      font-size: 18px
      font-weight: 700
      margin-bottom: 20px

   &-descr
      color: #979797
      font-size: 16px
      line-height: 170%
.questions-exam
   margin-bottom: 10px
   &-title
      color: #3F3F3F
      font-size: 18px
      font-weight: 700
      margin-bottom: 20px

   &-descr
      color: #979797
      font-size: 16px
      line-height: 170%
.questions-experience
   margin-bottom: 10px
   &-title
      color: #3F3F3F
      font-size: 18px
      font-weight: 700
      margin-bottom: 20px

   &-descr
      color: #979797
      font-size: 16px
      line-height: 170%
.questions-years
   margin-bottom: 10px
   &-title
      color: #3F3F3F
      font-size: 18px
      font-weight: 700
      margin-bottom: 20px

   &-descr
      color: #979797
      font-size: 16px
      line-height: 170%
// recording
.recording
   padding: 165px 0
.recording-wrapper
   display: flex
   justify-content: space-between
   align-items: center
.recording-info
   width: 100%
   max-width: 400px
   box-shadow: 0px 0px 10px 6px #e9e7e7
   padding: 30px
   border-radius: 15px
   &-title
      color: #3F3F3F
      font-size: 24px
      font-weight: 700
      line-height: 130%
      margin-bottom: 40px
.recording-item-title
   color: #3F3F3F
   font-size: 15px
   margin-bottom: 12px
.form-item-field
   background: 0
   border: 0
   padding: 20px 0 20px 20px
   margin-bottom: 20px
.form-item-field::placeholder
   color: #9E9E9E
.recording-item-btn
   color: #fff
   background: linear-gradient(96.47deg, #508FF7 -0.93%, #4C89ED 100.93%)
   border-radius: 10px
   text-transform: uppercase
   padding: 20px 94px
   border: 2px solid transparent
   transition: all .4s linear
   margin-bottom: 20px
.recording-item-btn:hover
   background: 0
   color: #3F3F3F
   font-weight: 700
   border: 2px solid #508FF7
.recording-information
   text-align: center
   font-size: 11px
   line-height: 150%
.recording-information-link
   color: #548BDF
   text-decoration: none
   transition: all .4s linear
.recording-information-link:hover
   text-decoration: underline
// contact
.contact
   padding-bottom: 100px
.contact-title
   font-size: 32px
   text-align: center
   margin-bottom: 80px
.contact-items
   display: grid
   grid-template-columns: repeat(3, 1fr)
   grid-column-gap: 10px
.contact-item
   box-shadow: 0px 0px 10px 6px #e9e7e7
   padding: 24px 0 24px 26px
   border-radius: 15px
.contact-item:nth-child(1),
.contact-item:nth-child(2),
.contact-item:nth-child(3)
   margin-bottom: 10px
.contact-item-overtitle
   color: #A2A9B5
   font-size: 10px
   text-transform: uppercase
   margin-bottom: 12px
.contact-item-descr
   color: #000
   font-size: 16px
   line-height: 140%
.contact-map
   margin-top: 40px
// footer
.footer
   padding: 22px 0
   &-menu
      margin-bottom: 38px
   &-menu-list
      display: flex
.footer-menu-item
   margin-right: 75px
.footer-menu-item:last-child
   margin-right: 0
.footer-menu-link
   color: #4E4E4E
   text-transform: uppercase
   font-size: 16px
   text-decoration: none
.footer-info
   display: flex
   justify-content: space-between
   &-link
      color: #4E4E4E
      text-decoration: none
   &-text
      color: #4E4E4E
      font-size: 13px
// @media
@media ( max-width: 320px)zz
