.footer {
   padding-top: 90px;
   &-title {
      font-weight: 600;
      font-size: 42px;
      margin-bottom: 25px;
   }
   &-text {
      font-weight: 400;
      font-size: 32px;
      line-height: 189.4%;
      margin-bottom: 50px;
   }
}
