// @media (max-width: 1430px) {
//    .header {
//       position: relative;
//       &-inner {
//          flex-direction: column-reverse;
//       }
//       &-car {
//          img {
//             padding-left: 16px;
//          }
//       }
//    }
// }
@media (max-width: 1300px) {
   .header-car {
      display: none;
   }
   .header {
      position: relative;
      &::before {
         content: "";
         background: url(../images/header-car-mob.svg) no-repeat;
         width: 1000px;
         height: 100%;
         position: absolute;
         top: 0;
         right: -273px;
      }
   }
}
@media (max-width: 1158px) {
   .header-info {
      padding-top: 500px;
   }
}
@media (max-width: 900px) {
   .benefits-right {
      margin-right: 0;
   }
   .container {
      padding: 0 15px;
   }
}
@media (max-width: 800px) {
   .benefits-inner {
      flex-direction: column;
   }
   .benefits-left {
      margin-bottom: 32px;
   }
}
@media (max-width: 760px) {
   .header {
      position: relative;
      &::before {
         content: "";
         background: url(../images/header-car-mob2.svg) no-repeat;
         width: 650px;
         height: 100%;
         position: absolute;
         top: 0;
         right: -100px;
      }
   }
}
@media (max-width: 770px) {
   .popup-text {
      font-size: 30px;
   }
   .popup-phone {
      font-size: 60px;
   }
}
@media (max-width: 700px) {
   .btn {
      padding: 20px 162px 27px 158px;
   }
   .header-text {
      font-size: 24px;
   }
   @media (max-width: 560px) {
      .header-title {
         font-size: 46px;
      }
      .btn {
         padding: 20px 139px 27px 135px;
      }
      .benefits-title,
      .footer-title {
         font-size: 35px;
      }
      .benefits-text,
      .footer-text {
         font-size: 22px;
      }
      .footer,
      .benefits {
         padding-top: 30px;
      }
   }
}
@media (max-width: 540px) {
   .popup-text {
      font-size: 20px;
   }
   .popup-phone {
      font-size: 40px;
   }
}
@media (max-width: 490px) {
   .header {
      position: relative;
      &::before {
         content: "";
         background: url(../images/header-car-mob3.svg) no-repeat;
         width: 442px;
         height: 100%;
         position: absolute;
         top: 0;
         right: -80px;
      }
   }
   .header-info {
      padding-top: 300px;
   }
   .popup-text {
      font-size: 18px;
   }
   .popup-phone {
      font-size: 35px;
   }
}
@media (max-width: 470px) {
   .header-title {
      font-size: 39px;
   }
   .btn {
      font-size: 24px;
   }
   .benefits-title,
   .footer-title {
      font-size: 30px;
   }
}
@media (max-width: 414px) {
   .header-title {
      font-size: 34px;
   }
   .header-text {
      font-size: 22px;
   }
   .btn {
      padding: 11px 85px 16px 85px;
   }
}
@media (max-width: 355px) {
   .header-title {
      font-size: 30px;
   }
   .header-text {
      font-size: 20px;
   }
   .benefits-text,
   .footer-text {
      font-size: 17px;
   }
}
