body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #616368;
  font-size: 16px;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
hr {
  border: none;
  border: 1px solid #f4f4f4;
}
img {
  max-width: 100%;
}
/* container */
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
/* header */
.header {
  padding: 55px 0 65px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-link {
  display: inline-block;
}
.header__menu {
  margin: 0 auto 0 320px;
}
.header__menu-list {
  display: flex;
}
.header__menu-item {
  margin-right: 30px;
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__menu-link {
  color: #242f51;
  text-decoration: none;
}
.header__btn-link {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 22px 40px;
  background: #2500f9;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: all 0.4s linear;
}
.header__btn-link:hover {
  background: #fff;
  border: 2px solid #2500f9;
  color: #000;
}
.header__content {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
  margin-top: 20px;
}
.header__content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content-info {
  width: 100%;
  max-width: 520px;
}
.header__content-overtitle {
  display: inline-block;
  color: #242f51;
  font-size: 18px;
  padding: 10px 85px 10px 45px;
  background: #e2eaed;
  border-radius: 20px;
  margin-bottom: 30px;
}
.header__content-title {
  color: #242f51;
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
  margin-bottom: 42px;
}
.header__content-descr {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
}
.header__content-btn__button {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 22px 40px;
  background: #2500f9;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: all 0.4s linear;
  margin-right: 26px;
}
.header__content-btn__button:hover {
  background: #fff;
  border: 2px solid #2500f9;
  color: #000;
}
.header__content-btn__link {
  color: #2500f9;
  text-decoration: none;
}
/* companies */
.companies__descr {
  text-align: center;
  margin-bottom: 68px;
}
.companies__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 70px;
  align-items: center;
  text-align: center;
}
/* features */
.features {
  padding-top: 100px;
}
.features__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features__title {
  width: 100%;
  max-width: 300px;
  color: #242f51;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 30px;
}
.features__descr {
  line-height: 26px;
  margin-bottom: 95px;
}
.features__card {
  padding-left: 120px;
  position: relative;
  margin-bottom: 66px;
}
.features__card:last-child {
  margin-bottom: 0;
}
.features__card-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.features__card-performance {
  color: #f55767;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 22px;
}
.features__card-prototyping {
  color: #2563ff;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 22px;
}
.features__card-vector {
  color: #40975f;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 22px;
}
.features__card-descr {
  width: 100%;
  max-width: 264px;
  line-height: 26px;
}
/* smart */
.smart {
  padding: 140px 0 55px;
}
.smart__first {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.smart__title {
  width: 100%;
  max-width: 430px;
  color: #242f51;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
}
.smart__line {
  background: #b9b9b8;
  height: 148px;
  width: 1px;
}
.smart__text {
  width: 100%;
  max-width: 410px;
  line-height: 26px;
}
.smart__cards {
  width: 100%;
  max-width: 1038px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
}
.smart__card-payouts {
  color: #f55767;
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 22px;
}
.smart__card-network {
  color: #2563ff;
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 22px;
}
.smart__card-reward {
  color: #40975f;
  font-size: 20px;
  font-weight: 600;
  margin: 30px 0 22px;
}
.smart__card-descr {
  width: 100%;
  max-width: 265px;
  line-height: 26px;
}
.smart__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
}
.smart__phone-title {
  width: 100%;
  max-width: 355px;
  color: #242f51;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 30px;
}
.smart__phone-descr {
  width: 100%;
  max-width: 410px;
  line-height: 26px;
  margin-bottom: 42px;
}
.smart__phone-btn {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 22px 40px;
  background: #2500f9;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: all 0.4s linear;
  margin-right: 26px;
}
.smart__phone-btn:hover {
  background: #fff;
  border: 2px solid #2500f9;
  color: #000;
}
/* application */
.application {
  padding: 140px 0 186px;
}
.application__wrapper {
  text-align: center;
}
.application__title {
  width: 100%;
  max-width: 435px;
  color: #242f51;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  margin: 0 auto 45px;
}
.application__descr {
  width: 100%;
  max-width: 636px;
  line-height: 26px;
  margin: 0 auto 90px;
}
.application__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 85px;
}
.application__card:nth-child(1),
.application__card:nth-child(2),
.application__card:nth-child(3) {
  margin-bottom: 70px;
}

.application__card-title {
  color: #242f51;
  font-size: 20px;
  font-weight: 600;
  margin: 34px 0 20px;
}
.application__card-descr {
  width: 100%;
  max-width: 265px;
  line-height: 26px;
  margin: 0 auto;
}
/* functions */
.functions {
  padding-bottom: 170px;
}
.functions__title {
  width: 100%;
  max-width: 320px;
  color: #242f51;
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 30px;
}
.functions__descr {
  width: 100%;
  max-width: 394px;
  line-height: 26px;
  margin-bottom: 60px;
}
.functions__content {
  display: flex;
  align-items: center;
}
.functions__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 200px;
}
.functions__card:nth-child(1),
.functions__card:nth-child(2) {
  margin-bottom: 60px;
}
.functions__card-title {
  color: #242f51;
  font-size: 20px;
  font-weight: 600;
  margin: 34px 0 16px;
}
.functions__card-descr {
  width: 100%;
  max-width: 265px;
  line-height: 26px;
}
.functions__phone img {
  width: 100%;
  max-width: 700px;
}
.functions__card-btn {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 22px 40px;
  background: #2500f9;
  border: 2px solid transparent;
  border-radius: 25px;
  transition: all 0.4s linear;
  margin-right: 26px;
  margin-top: 55px;
}
.functions__card-btn:hover {
  background: #fff;
  border: 2px solid #2500f9;
  color: #000;
}
/* questions */
.questions {
  padding: 150px 0 110px;
}
.questions__wrapper {
}
.questions__title {
  color: #242f51;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
.questions__descr {
  width: 100%;
  max-width: 630px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto 60px;
}
.questions__accordion {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}
.questions__accordion-item {
  margin-bottom: 10px;
}
.questions__accordion-item__tridder {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background: #f5f7fa;
}
.questions__accordion-item__tridder i {
  color: #242f51;
  font-size: 25px;
  transition: all 0.4s linear;
}
.questions__accordion-item__tridder i:hover {
  color: #bb7409;
}
.questions__accordion-item__title {
  color: #242f51;
  font-size: 20px;
  font-weight: 600;
}
.questions__accordion-item__content {
  line-height: 26px;
  padding: 0 118px 30px 30px;
  background: #f5f7fa;
  display: none;
}
/* download */
.download {
  padding: 115px 0 55px;
}
.download__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download__title {
  color: #242f51;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 40px;
}
.download__descr {
  width: 100%;
  max-width: 640px;
  line-height: 26px;
  margin-bottom: 50px;
}
.download__app-link {
  display: inline-block;
  margin-right: 30px;
}
.download__app-link:last-child {
  margin-right: 0;
}
.download__images {
  position: absolute;
  right: 0;
}
/* footer */
.footer {
  padding: 115px 0 125px;
  background: #09142e;
}
.footer__wrapper {
  text-align: center;
}
.footer__title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 50px;
}
.footer__title span {
  color: #fcae61;
}
.footer__icon {
  margin-bottom: 90px;
}
.footer__icon-link {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: all 0.3s linear;
  margin-right: 20px;
}
.footer__icon-link:hover {
  color: #bec4d3;
}
.footer__icon-link:last-child {
  margin-right: 0;
}
.footer__descr {
  color: #fff;
}
@media (max-width: 1500px) {
}
@media (max-width: 1140px) {
  .header__menu {
    margin: 0;
  }
}

@media (max-width: 924px) {
  .header {
    padding-top: 50px;
  }
  .header__top {
    flex-wrap: wrap;
  }
  .header__menu {
    margin-bottom: 15px;
  }
  .header__btn {
    width: 100%;
    text-align: right;
  }
  .header__btn-link {
    padding: 15px 20px;
  }
  .smart__first {
    flex-wrap: wrap;
  }
  .smart__line {
    background: #b9b9b8;
    height: 1px;
    width: 100%;
    margin: 10px 0;
  }
  .smart__title {
    max-width: 100%;
  }
  .smart__text {
    max-width: 100%;
  }
  .smart__card-payouts {
    font-size: 17px;
  }
  .smart__card-network {
    font-size: 17px;
  }
  .smart__card-reward {
    font-size: 17px;
  }
  .application__title {
    max-width: 100%;
  }
  .application__descr {
    max-width: 100%;
  }
  .application__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 870px) {
  .header__content-overtitle {
    padding: 10px 50px 10px 45px;
    margin-bottom: 30px;
  }
  .header__content-title {
    font-size: 50px;
    margin-bottom: 42px;
  }
  .smart__first {
    margin-bottom: 60px;
  }
  .smart__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .smart__card:nth-child(1),
  .smart__card:nth-child(2) {
    margin-bottom: 50px;
  }
  .smart__card-descr {
    max-width: 100%;
  }
}
@media (max-width: 845px) {
  .header__content-overtitle {
    padding: 10px 20px 10px 20px;
    margin-bottom: 30px;
  }
  .header__content-title {
    font-size: 45px;
    margin-bottom: 42px;
  }
  .header__content-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .header__content-btn__link {
    margin-top: 20px;
  }
}
@media (max-width: 790px) {
  .header__content-overtitle {
    font-size: 16px;
    padding: 10px 20px 10px 20px;
  }
  .header__content-title {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 25px;
  }
  .header__content-descr {
    font-size: 16px;
  }
  .smart__phone {
    flex-wrap: wrap;
  }
  .smart__phone-title {
    max-width: 100%;
    margin-top: 30px;
  }
  .smart__phone-descr {
    max-width: 100%;
  }
}
@media (max-width: 760px) {
  .header__content-overtitle {
    font-size: 14px;
    padding: 10px;
  }
  .header__content-title {
    font-size: 35px;
  }
  .features__card-descr {
    max-width: 100%;
  }
  .questions__accordion-item__title {
    font-size: 18px;
  }
}
@media (max-width: 710px) {
  .header__content-title {
    font-size: 30px;
    line-height: 50px;
  }
  .companies__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 70px;
  }
  .companies__card:nth-child(1),
  .companies__card:nth-child(2),
  .companies__card:nth-child(3) {
    margin-bottom: 30px;
  }
  .features__wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 650px) {
  .header__menu-list {
    display: none;
    position: absolute;
    top: 115px;
    left: 0;
    text-align: center;
    width: 100%;
    background: rgba(170, 91, 91, 0.5);
    padding: 20px 0;
  }
  .header__menu-item {
    margin-right: 0;
  }
  .header__menu-item:last-child {
    margin-bottom: 0;
  }
  .header__menu-link {
    display: block;
    border: 2px solid transparent;
    padding: 10px 0;
    transition: all 0.3s linear;
  }
  .header__menu-link:hover {
    border: 2px solid #000;
  }
  .header__menu-link:after {
    display: none;
  }
  .header__menu-btn {
    width: 30px;
    height: 20px;
    position: relative;
  }
  .header__menu-btn span {
    width: 100%;
    height: 3px;
    background: #000;
    top: 9px;
    position: absolute;
  }
  .header__menu-btn::after,
  .header__menu-btn::before {
    content: "";
    width: 100%;
    height: 3px;
    background: #000;
    position: absolute;
  }
  .header__menu-btn::after {
    top: 0;
  }
  .header__menu-btn::before {
    bottom: 0;
  }
  .header__menu-list {
    margin-top: 25px;
  }
  .application__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .questions__accordion-item__title {
    font-size: 17px;
    line-height: 35px;
  }
  .questions__accordion-item__content {
    font-size: 15px;
    padding: 0 2px 5px 30px;
  }
}
@media (max-width: 630px) {
  .functions__wrapper {
    text-align: center;
  }
  .functions__title {
    max-width: 100%;
  }
  .functions__descr {
    max-width: 100%;
  }
  .functions__cards {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    margin: 0 auto;
  }
}
@media (max-width: 490px) {
  .header__content-overtitle {
    font-size: 12px;
    padding: 10px;
  }
  .header__content-title {
    font-size: 25px;
  }
  .header__content-descr {
    margin-bottom: 18px;
  }
  .header__content-btn__button {
    padding: 15px 25px;
  }
  .smart__title {
    font-size: 35px;
  }
}
@media (max-width: 487px) {
  .footer__descr {
    line-height: 30px;
  }
}
@media (max-width: 440px) {
  .header__content-overtitle {
    font-size: 10px;
    padding: 10px;
  }
  .header__content-title {
    font-size: 23px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  .header__content-descr {
    font-size: 13px;
  }
  .header__content-btn__button {
    font-size: 16px;
    padding: 12px 18px;
  }
  .questions__accordion-item__title {
    font-size: 26px;
  }
}
@media (max-width: 440px) {
  .header__content-overtitle {
    padding: 5px;
  }
  .companies__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
  }
  .companies__card:nth-child(1),
  .companies__card:nth-child(2),
  .companies__card:nth-child(3),
  .companies__card:nth-child(4) {
    margin-bottom: 30px;
  }
  .questions__accordion-item__title {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .questions__accordion-item__title {
    font-size: 17px;
  }
}
@media (max-width: 405px) {
  .smart__title {
    font-size: 30px;
  }
}
@media (max-width: 400px) {
  .features__card-descr {
    font-size: 15px;
  }
  .features__card-performance {
    font-size: 18px;
  }
  .features__card-prototyping {
    font-size: 18px;
  }
  .features__card-vector {
    font-size: 18px;
  }
}
@media (max-width: 390px) {
  .header__content-overtitle {
    font-size: 8px;
    padding: 2px;
  }
  .header__content-title {
    font-size: 20px;
    line-height: 40px;
  }
  .header__content-descr {
    font-size: 11px;
  }
  .header__content-btn__button {
    font-size: 12px;
    padding: 10px 16px;
  }
  .header__content-btn__link {
    font-size: 14px;
  }
  .questions__accordion-item__title {
    font-size: 17px;
  }
}
@media (max-width: 370px) {
  .questions__accordion-item__title {
    font-size: 15px;
  }
}
@media (max-width: 326px) {
  .questions__accordion-item__title {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .header__content-overtitle {
    font-size: 7px;
    padding: 2px;
  }
  .header__content-title {
    font-size: 15px;
    line-height: 25px;
  }
  .header__content-descr {
    font-size: 9px;
    line-height: 22px;
  }
  .header__content-btn__button {
    font-size: 9px;
    padding: 10px 16px;
  }
  .header__content-btn__link {
    font-size: 12px;
  }
  .smart__title {
    font-size: 26px;
  }
  .smart__phone-title {
    font-size: 34px;
  }
}
@media (min-width: 650px) {
  .header__menu-list {
    display: flex !important;
  }
}
